.header-like {
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 21px;
    margin-bottom: 11px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: white;
    border-color: white;
    display: block;
    font-size: 30px;
    text-decoration: none;
}

h1 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
}

h1, h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 21px;
    margin-bottom: 11px;
    color: white;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background-color: #0C1628;
    margin: 0;
    padding: 0px;
    height: 100%;
}

p, blockquote, ol, ul, li {
    font-family: 'Mukta', sans-serif;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.banner {
    background-color: #1F2A3E;
    top: 0;
    width: 100%;
}

.content {
    margin-left: 316px;
    margin-right: 0px;
    height: 100%;
    top: 0;
}

.banner h1 {
    margin: 8px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 40px;
    border-color: white;
}

.banner-info {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
}

.author-issue {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 1px;
    color: #bcbcbc;
}

.author-issue em {
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 1px;
    color: #ffffff;
}

.date {
    font-size: 16px;
    margin: 1px;
    color: #b0b0b0;
}

.banner-image {
    height: 250px;
    background-attachment: fixed;
    background-position: right 50% top 180%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.article {
    margin-left: 20%;
    margin-right: 20%;
    padding: 8px;
}

.menu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #aa1100;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #660800;
    text-align: center;
    padding: 8px;
}

.menu span {
    display: block;
    text-align: left;
    font-family: 'Archivo Narrow', sans-serif;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 20px;
}

.navbar {
    margin: 8px;
    background-color: #881100;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #660800;
}

.promo {
    max-width: 100%;
    background-color: #881100;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #660800;
}

.navbar a {
    font-family: 'Mukta', sans-serif;
    border-radius: 5px;
    text-align: left;
    padding: 3px 3px 3px 9px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
}

.navbar a:hover {
    background-color: #661100;
}
